{% extends 'layout.twig' %}

{% block body %}
  <div class="container">
    <div class="container">
      <div class="row">
        <div class="col-lg">
          <div class="card o-hidden border-0 shadow-lg mt-3 mb-4">
            <div class="card-body p-0">
              <div class="row">
                <div class="col-lg-6 d-none d-lg-block bg-register-image" style="background-size: cover"></div>
                <div class="col-lg-6">
                  <div class="px-5 py-4 mb-1 mt-4">
                    <div class="text-center">
                      <h1 class="h4 text-gray-900 mb-4">{{trans('new')}}
                        {{trans('account')}}</h1>
                    </div>
                    <form class="user" action="{{ path_for('register') }}" method="post">
                      <div class="form-group">
                        <input type="email" class="form-control form-control-user" id="exampleInputEmail" placeholder="Email Address">
                      </div>
                      <div class="form-group row">
                        <div class="col-sm-6 mb-3 mb-sm-0">
                          <input type="password" class="form-control form-control-user" id="exampleInputPassword" placeholder="Password">
                        </div>
                        <div class="col-sm-6">
                          <input type="password" class="form-control form-control-user" id="exampleRepeatPassword" placeholder="Repeat Password">
                        </div>
                      </div>
                      <button type="submit" class="btn btn-primary btn-user btn-block">
                        Signup
                      </button>
                      <hr/>
                      <div class="container p-0">
                        <div class="row">
                          <div class="col-md-6">
                            <a href="{{ path_for('register') }}" class="btn btn-google btn-user btn-block">
                              <i class="fab fa-google fa-fw"></i>
                              Signup with Google
                            </a>
                          </div>
                          <div class="col-md-6">
                            <a href="{{ path_for('register') }}" class="btn btn-facebook btn-user btn-block">
                              <i class="fab fa-facebook-f fa-fw"></i>
                              Signup with Facebook
                            </a>
                          </div>
                        </div>
                      </div>
                    </form>
                    <hr>
                    <div class="row mb-3 pt-3">
                      <div class="col-lg text-right">
                        <a class="small" href="{{ path_for('login') }}">
                          Already have an account?
                          <i class="fas fa-sign-in-alt px-1"></i>
                          Signin
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- {% if has_errors() %} <div class="ui error message"> {% for paramErrors in errors() %} {% for error in paramErrors %} <p>{{ error }}</p> {% endfor %} {% endfor %} </div> {% endif %} </form> <div class="ui message"> You already have an account?
    <a href="{{ path_for('login') }}">Sign in</a> </div> </div> </div>-->
  {% endblock %}
